@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    font-family: 'Old Standard TT', serif;
    background-color: #090909; /* Dark gray background */
    color: #fffbf4c8; /* Lightish goldish white font color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: left;
    font-size: 16px; /* Slightly bigger text */
}

.name {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px; /* Bigger text */
    margin: 35px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center; /* Center the cards */
    width: calc(100% - 20px);
}

.card {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: auto;
    width: 300px;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center; /* Center the text */
    position: relative;
    overflow: hidden; /* Ensure the glow effect doesn't overflow */
}

.card:hover::before {
    opacity: 1;
}

.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.06), 
        transparent 35%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
}

h1, h2 {
    text-align: center;
}

.wrapper {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 10px 0;
    width: 80%; /* Set a fixed width for the wrapper */
    max-width: 1000px; /* Maximum width for the wrapper */
    margin: 0 auto; /* Center the wrapper */
}

.wrapper::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

.wrapper .card {
    flex: 0 0 auto; /* Prevent the cards from shrinking */
    line-height: 110px;
    text-align: center;
    margin-right: 2px;
}

.link-button {
    color: #fffbf4c8; /* Lightish goldish white color */
    text-decoration: none;
    cursor: pointer;
    font-size: 22px; /* Slightly bigger text */
    margin: 5px;
    display: inline-block;
}

.link-button:hover {
    text-decoration: underline;
}

#links {
    text-align: center; /* Center the links */
    padding-bottom: 20px; /* Add some padding at the bottom */
    position: absolute;
    bottom: 20px;
    width: 100%;
}

::selection {
    background-color: #dd9911eb; /* Lightish goldish white color */
}