@import url('https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');

body {
    font-family: 'Space Mono', serif;
    background-color: #111111; /* Dark gray background */
    color: #fffbf49f; /* Lightish goldish white font color */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    font-size: 15px; /* Slightly bigger text */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    width: 100vw; /* Ensure the body takes the full width of the viewport */
}

.name {
    font-family: 'Space Mono', sans-serif;
    font-size: 30px; /* Bigger text */
    margin: 20px;
    color: #fffbf4c8; /* Lightish goldish white font color */
}

.image {
    border-radius: 20%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 20px;
}
.text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%; /* Set a width that doesn't go to the edge */
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center the text */
}

#cards {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center; /* Center the cards */
    width: calc(100% - 20px);
}

.card {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: auto;
    width: 350px;
    padding: 15px;
    border-radius: 15px;
    cursor: pointer;
    text-align: center; /* Center the text */
    position: relative;
    overflow: hidden; /* Ensure the glow effect doesn't overflow */
}

.card:hover::before {
    opacity: 1;
}

.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap between cards as needed */
}

.projects-wrapper .card {
    flex: 1 1 calc(25% - 20px); /* Adjust the width of the cards as needed */
    box-sizing: border-box;
}
.card::before {
    background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.071), 
        transparent 40%
    );
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 500ms;
    width: 100%;
    z-index: 2;
}

h1, h2 {
    text-align: center;
}

.wrapper {
    display: flex;
    overflow-x: auto;
    gap: 12px;
    padding: 10px 0;
    width: 80%; /* Set a fixed width for the wrapper */
    max-width: 1000px; /* Maximum width for the wrapper */
    margin: 0 auto; /* Center the wrapper */
    scroll-snap-type: x mandatory; /* Enable scroll snapping */
}

.wrapper::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

.wrapper .card {
    flex: 0 0 auto; /* Prevent the cards from shrinking */
    width: 280px; /* Ensure cards have a fixed width */
    text-align: center;
    margin-right: 2px;
    scroll-snap-align: start; /* Snap to the start of each card */
}


.scrollable {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
}

.scroll-button {
    background-color: #fffbf4c8; /* Lightish goldish white color */
    border: none;
    color: #090909; /* Dark gray color */
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    margin: 0 10px;
}

.scroll-button:hover {
    background-color: #d39d40df; /* Slightly darker color on hover */
}

.link-button {
    color: #fffbf4c8; /* Lightish goldish white color */
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
    display: inline-block;
    
}

.link-button:hover {
    text-decoration: underline;
}

.cardlink:hover {
    text-decoration: underline;
}

#links {
    text-align: center; /* Center the links */
    padding: 20px; /* Add some padding to avoid overlap */
    position: relative;
    bottom: 0;
    width: 100%;
}

::selection {
    background-color: #d39d40df; /* Lightish goldish white color */
}

/* Media Queries for Mobile Compatibility */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* Adjust font size for smaller screens */
    }

    .name {
        font-size: 28px; /* Adjust heading size for smaller screens */
        margin-left: 20px; /* Adjust margin for smaller screens */
    }

    #cards {
        flex-direction: column; /* Stack cards vertically on smaller screens */
        align-items: center; /* Center the cards */
    }

    .card {
        width: 90%; /* Adjust card width for smaller screens */
        margin-bottom: 20px; /* Add margin between cards */
    }

    .wrapper {
        width: 100%; /* Full width for the wrapper on smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .wrapper .card {
        width: 90%; /* Adjust card width within the wrapper */
        margin-right: 0; /* Remove right margin */
        text-align: center; /* Center the text */
    }
}
